@import '../../scss/vars.scss';

.setting {
  &__title {
    font-size: 30px;
    font-family: $font-family;
    font-weight: 600;
    margin-bottom: 20px;
  }

  &__title-input {
    font-size: $font-size--h3;
    font-family: $font-family;
    margin-left: 7px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__list {
    display: flex;
    align-items: center;
    margin: 20px 0;
  }

  &__input {
    display: flex;
  }

  &__label {
    font-size: $font-size--body;
    font-family: $font-family;
    color: $dark-shade-75;
  }

  &__checkbox {
    -webkit-appearance: none;
    align-self: start;
    min-width: 20px;
    height: 20px;
    margin-left: 10px;
    margin-right: 9px;
    background-color: #fff;
    border: 1px solid $dark-shade-25;
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;

    &:checked {
      line-height: 14px;
      position: relative;
      color: $color-primary;
      border: 1px solid $color-primary;
    }

    &:checked:after {
      position: absolute;
      top: 3px;
      left: 4px;
      width: 10px;
      height: 10px;
      content: '';
      background: url('img/vector.png') no-repeat;
    }
  }
}
