@import '../scss/vars.scss';

.demo {
  position: relative;
  max-width: 1920px;
  min-width: 320px;
  display: flex;
  justify-content: center;
  padding: 15px;

  &__centerBlock {
    max-width: 1160px;
    display: flex;
    flex-flow: column;
    flex: 1 1 100%;
  }

  &__slider {
    margin: 100px 0;
  }
}
